@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, main{
    font-family: Montserrat;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.question{
    font-size: 80px;
    margin-top: 30px;
    text-align: center;
}

.ans-row{
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

.answer{
    width: 65px;
    height: 65px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #ffffff;
}
.btn{
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size:20px;
    background-color: #ABAD2F;
}
.description{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}

.btn-container{
    /* display: none; */
    text-align: center;
}

.btn:hover{
    background-color: rgb(177, 169, 169);
}

