html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 156px;
    width: 100%;
}
.header {
    background-color: #4694DC;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    padding-top: 82px;
    padding-bottom: 82px;
}
.header_title {
    font-size: 56px;
    font-weight: 600;
    /* padding-top: 33px; */
    /* margin-bottom: 30px; */
}
.header_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 437px;
    margin-bottom: 45px;
    letter-spacing: -0.14px;
}
.header_button {
    width: 194px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
}

/* Block  */
.services .block {
    text-align: center;
    margin-bottom: 117px;
}
.block-title {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3.3px;
    line-height: auto;
    color: black;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.block-text {
    font-size: 16px;
    color: #9CA3AF;
    letter-spacing: 3px;
    line-height: 24px;
    max-width: 465px;
    margin: 0 auto;
}

/* Services */
.services{
    padding: 100px 0 100px;
    margin-right: 45px;

}
.services-item{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
    
}
.item {
    max-width: 280px;
    width: 100%;
    height: 175px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
/* border: 2px solid black; */

}
.services-img {
    width: 55px;
    height: 55px;
    align-self: center;
}

.sevrvices-content{
    margin-top: 28px;
}

/* Team  */
.team .block {
    text-align: center;
    margin-bottom: 81px;
}

.team {
    padding: 0px 0 74px;
    /* margin-right: 45px; */
}
.team-items {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    /* width: 100%; */
    margin: 0 auto;
    gap: 50px;
}
.team_item {
    display: flex;
    width: 260px;
    /* flex-direction: row; */
    padding: 16px 20px 20px 20px;
    background-color: white;
    border-radius: 11px;
    box-shadow: 0px 4px 70px 0px rgba(91,93,99,0.06);
    /* border: 2px solid black; */
}
.item-img {
    align-self: center;
    margin-right: 8px;
    /* width: 35px;
    height: 35px; */
}

.item-name {
    margin-top: 5px;
    font-size: 12px;
    color: black;

}
.item-speciality {
    font-size: 11px;
    font-style: italic;
    color: #9CA3AF;
    margin-top: 5px;
}


/* Media */
@media screen and (max-width: 768px){
    .container{
        padding: 0 50px;
    }
    .services-item, .team-items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        /* padding: 100px 0 100px; */
        margin-right: 0px;

}
/* .team-items {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

}
@media screen and (max-width: 344px){
    .header_title{
        font-size: 24px;
    }
}


