    /* Задача: Дописать селектор для класса button
      Нужно выбрать все элементы с классом button
      Дополните селектор */
.button
 {
  background: #3fb950;
  color: white;
  padding: 10px 15px;
}
