:root {
	--color1: #05b1b1;
	--color2: #52339a;
}
header,
footer,
section {
	padding: 100px 0;
}
header {
	padding-top: 200px 0;
	background-color: var(--color1);
}
header,
footer {
	background:
		url("../img/pattern.png"),
		linear-gradient(to left, var(--color2) 0%, var(--color1) 100%);
	background-size: contain;
}
.itd_play {
	background-color: var(--color1);
	width: 60px;
	height: 60px;
	margin: 30px auto;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}
.itd_play:hover {
	background-color: var(--color2);
	cursor: pointer;
}
.itd_triangle {
	margin-right: -3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0px 10px 20px;
	border-color: transparent transparent transparent var(--bs-white);
}
.btn-itd {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	padding: 8px 30px;
	color: var(--bs-white);
	background-color: var(--color2);
}
.btn-itd:hover {
	background-color: var(--color2);
	color: var(--bs-white);
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* О курсе */
.about,
.accordions,
.about_author,
.buy {
	background-color: #eee;
}

.about i {
	font-style: 25px;
	color: var(--color2);
}

.itd_circle {
	margin: 0 auto 15px;
	width: 70px;
	height: 70px;
	border: 3px solid var(--color2);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.line {
	width: 100px;
	height: 3px;
	background-color: var(--color2);
	margin: 20px auto;
}
.color1 {
	color: var(--color1);
}
.color2 {
	color: var(--color2);
}
.bg1 {
	color: var(--color1);
}
.bg2 {
	color: var(--color2);
}
.forwhom h5 {
	padding: 50px;
	border: 3px solid var(--color1);
}
.accordion-button:not(.collapsed) {
	background: var(--color2);
	color: var(--bs-white);
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:focus {
	box-shadow: none;
}

.rounded {
	border-radius: 50% !important;
	border: 3px solid var(--color1);
}

iframe {
	margin-top: 100px;
}
